<!DOCTYPE html>
<html>
<head>
  <title>綜高一愛</title>
  <%= stylesheet_link_tag    "love", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="header">
	<a href="ourstory"><div class="btn btn-primary ourstory">我們的故事</div> </a>
	<a href="photo"><div class="btn btn-success photo">相簿</div></a>
	<a href="http://taivslove.herokuapp.com"><div class="logo"><%= image_tag("logo.png") %></div></a>

	<a href="homework"><div class="btn btn-warning homework">作業小幫手</div></a>
	<a href="list"><div class="btn btn-danger list">行事曆及課表</div></a>
</nav>
<%=yield%>
</body>
</html>
