<div class="homeworkpage">
	<div class="wikilogo">
		<a href="http://zh.wikipedia.org/wiki/Wikipedia:%E9%A6%96%E9%A1%B5"><%= image_tag("Wikipedialogo.png") %></a>
	</div>
	<div class="dictionarylogo">
		<a href="http://dict.revised.moe.edu.tw/"><%= image_tag("dictionarylogo.png") %></a>
	</div>
	<div class="taivslogo">
		<a href="http://www.taivs.tp.edu.tw/"><%= image_tag("taivslogo.png") %></a>
	</div>
	<div class="fishlogo">
		<a href="http://www.ireader.cc/"><%= image_tag("fishlogo.png") %></a>
	</div>
	<div class="googletranslation">
		<a href="https://translate.google.com.tw/"><%= image_tag("googletranslation.png") %></a>
	</div>
	<div class="evernotelogo">
		<a href="http://evernote.com/intl/zh-tw/"><%= image_tag("evernotelogo.png") %></a>
	</div>
	<div class="dropboxlogo">
		<a href="https://www.dropbox.com/"><%= image_tag("dropboxlogo.png") %></a>
	</div>
	<div class="taivsclass">
		<a href="http://cloud.taivs.tp.edu.tw/moodle/">大安課程網</a>
	</div>
	<div class="indexlogo">
		<a href="http://taivslove.herokuapp.com"><%= image_tag("indexlogo.png") %></a>
	</div>
	
	
</div>